.containerbody {
	margin: 0 -5px;
	width: 8000px;
	display: flex;
	flex-wrap: wrap;
}

.containerbody:after {
  display: table;
  clear: both;
  display: flex;
flex-wrap: wrap;
 }



.container {
width: 700px; 
margin: 100px;
}




@media (max-width: 1200px){
	#containerA {
		width: 100%;
	}
}

@media (max-width: 960px) {
	#containerA {
		width: 100%;
	}
}

@media (max-width: 720px) {
	#containerA {
		width: 100%;
	}
}

@media (max-width: 540px){
	#containerA {
		width: 100%;
	}









